

 
 
 h3 {
     margin-top: 0px;
     padding-top: 50px;
     font-family: 'open sans', sans-serif;
     text-align: center;
     font-size: 60pt;
     color: white;
     font-weight: 100;
     letter-spacing: 10px;
 }

h3:hover{
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;

}

body {
    
    background-color: #000022;
    border: 1pt;
    border-color: white;
    background-size: 1440px 900px;

}

#menu {
    display: inline-block;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    background-color: gray;
}

.home {
    color: white;
    transition: 0.2s;
    font-family: open sans;
    font-weight: lighter;
    font-size: 12pt;
    padding-right: 40px;
    padding-left: 15px;
    text-decoration: underline;
    opacity: .7;
}

.home:hover{
     opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
     -ms-opacity: 1;

   font-size: 16pt;
   -webkit-font-size: 16pt;
   -moz-font-size: 16pt;
    -ms-font-size: 16pt;

}


.about {
    display: inline;
    color: white;
    transition: 0.2s;
    font-family: open sans;
    font-weight: lighter;
    font-size: 12pt;
    padding-right: 40px;
    padding-left: 15px;
    text-decoration: underline;
    opacity: .7;
 
}

.about:hover{
     opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
     -ms-opacity: 1;

   font-size: 16pt;
   -webkit-font-size: 16pt;
   -moz-font-size: 16pt;
    -ms-font-size: 16pt;
}

.work {
    color: white;
    transition: 0.2s;
    font-family: open sans;
    font-weight: lighter;
    font-size: 12pt;
    padding-right: 15px;
    padding-left: 40px;
    text-decoration: underline;
    opacity: .7;
 
}

.work:hover{
     opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
     -ms-opacity: 1;

   font-size: 16pt;
   -webkit-font-size: 16pt;
    -ms-font-size: 16pt;
   -moz-font-size: 16pt;
}

.contact {
    color: white;
    transition: 0.2s;
    font-family: open sans;
    font-weight: lighter;
    font-size: 12pt;
    text-decoration: underline;
    opacity: .7;
   
}

.contact:hover{
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;

   font-size: 16pt;
   -webkit-font-size: 16pt;
   -moz-font-size: 16pt;
    -ms-font-size: 16pt;

       text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
}




#infographic {
 display: table;
 margin: auto;
    z-index: 3;
    opacity: 1;
    object-fit: cover;
    padding-bottom: 50px;
    

}

.hidden {
    border: solid;
    border-width: 1px;
    border-color: white;
}

.infographic1{
 display: table;
 margin: auto;
    z-index: 3;
    opacity: 1;
    object-fit: cover;
    padding-bottom: 50px;
    position: absolute;

}

#infographic2 {
    background-image: url('http://i.imgur.com/qUl0LxH.jpg');
    object-fit: cover;
 display: table;
 margin: auto;
    z-index: 2;
    opacity: 1;
    padding-bottom: 50px;
    height: 300px;
  

 }

 #images {
    display: table;
    margin-left: 230px;
 }



.footer {
    list-style-type: none;

   }

.foot-item {
    position: relative;
    font-family: open sans;
    font-size: 12px;
    color: white;
    display: table;
    margin: auto;
    font-weight: lighter;
    
}

.foot-item:hover {
    font-weight: bolder;
    -webkit-font-weight: bolder;
    -moz-font-weight: bolder;
    -ms-font-weight: bolder;

}